@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="user-info">
            <span class="user-name">
                Hello, @GetDisplayName(context.User)!
            </span>
            <a href="MicrosoftIdentity/Account/SignOut" class="btn btn-outline-light btn-sm ms-2">
                Sign out
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="btn btn-primary btn-sm">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private string GetDisplayName(ClaimsPrincipal user)
    {
        // Try to get the display name from claims
        var displayName = user.FindFirst("name")?.Value 
                         ?? user.FindFirst(ClaimTypes.Name)?.Value
                         ?? user.FindFirst("preferred_username")?.Value
                         ?? user.FindFirst(ClaimTypes.Email)?.Value
                         ?? "User";
        
        return displayName;
    }
}
